<ion-card>
  @if (!error) {
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-button fill="clear" (click)="previousDay()">
            <ion-icon name="chevron-back"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="8" class="ion-text-center">
          <ion-card-title>{{ getCurrentDay() }}</ion-card-title>
        </ion-col>
        <ion-col size="2">
          <ion-button fill="clear" (click)="nextDay()">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <canvas #chartCanvas></canvas>
    </ion-card-content>
  } @else {
    <ion-card-content>
      <ion-text color="danger">
        <p>{{ error }}</p>
      </ion-text>
      <ion-button fill="clear" (click)="loadChartData()">
        <ion-icon slot="start" name="refresh"></ion-icon>
        Réessayer
      </ion-button>
    </ion-card-content>
  }
</ion-card>