<ion-card>
  <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <ion-button fill="clear" (click)="previousWeek()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        <ion-card-title>{{ getCurrentWeek() }}</ion-card-title>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" (click)="nextWeek()">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <div style="position: relative; height: 400px;">
      <canvas #chartCanvas></canvas>
    </div>
  </ion-card-content>
</ion-card>
