<ion-header>
  
</ion-header>

<ion-content class="login-background">
  <div class="login-back">
  <div class="login-container">
    <h2>Welcome Back!</h2>
    <form (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
      <ion-note *ngIf="email && !isEmailValid()" color="danger">
        Please enter a valid email address.
      </ion-note>
      

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit" [disabled]="!email || !password" class="login-button" a href="/signup">
        Login
      </ion-button>
    </form>

    <div class="register-link">
      <p>Don't have an account? <a routerLink="/signup">Register here</a></p>
    </div>
  </div>
</div>
</ion-content>


<div style="display: hidden;">
  
<ion-header>
 
</ion-header>


<ion-header>
  
</ion-header>

<ion-content class="signup-content">
  <div class="login-back">
  <div class="login-container">
    <h2>Welcome Back!</h2>
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
      </ion-item>
  
      <ion-button expand="full" type="submit" [disabled]="!signupForm.form.valid" >Sign Up</ion-button>
  
      <div class="register-link">
        <p>Already have an account? <a routerLink="/login">Log In</a></p>
      </div>
    </form>
  

   
  </div>
</div>
</ion-content>


</div>