<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h2>Summary</h2>
    <p>Total Income: {{ totalIncome }}</p>
    <p>Total Expenses: {{ totalExpenses }}</p>
    <p>Average Expenses (Monthly): {{ averageExpenses }}</p>
    <p>Recommendation: {{ recommendation }}</p>
    <!-- Weekly, monthly, yearly summaries here -->
  </div>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
