
<ion-content class="dashboard-content">
  <div class="summary-section">
    
    <h2 color="success">Summary</h2>
    <div class="summary-cards">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Total Income</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ totalIncome | currency }}
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Total Expenses</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ totalExpenses | currency }}
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Average Expenses (Monthly)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ averageExpenses | currency }}
        </ion-card-content>
      </ion-card>
    </div>
    <ion-chip color="success">
      <ion-icon name="bulb-outline" color="light"></ion-icon>
      <ion-label>Recommendation ~
         {{ recommendation }}</ion-label>
    </ion-chip>
    
  </div>

  <div class="transactions-section">
    <h2 color="success">Recent Transactions</h2>
    <ion-list>
      <ion-item *ngFor="let transaction of transactions" lines="full">
        <ion-label>
          <h3>{{ transaction.label || 'Unnamed Transaction' }}</h3>
          <p>{{ transaction.type }} - {{ transaction.amount | currency }}</p>
        </ion-label>
        <ion-button color="success" fill="clear" [routerLink]="['/transaction', transaction.id]">
          Edit
        </ion-button>
      </ion-item>
    </ion-list>    
  </div>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add" [routerLink]="['/transaction']"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>