.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  width: 100%;
}

.summary-section, .transactions-section {
  background: #ffffff;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.section-title {
  margin-bottom: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.summary-cards {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

ion-card {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.action-button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
}

ion-button.operate {
  width: 100%;
  font-size: 0.9rem;
  margin: 0 8px;
}
h2{
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Modal Form Responsive Styles */
.modal-form ion-grid {
  padding: 0;
}

.modal-form ion-row {
  margin-bottom: 10px;
}

.modal-form ion-col {
  padding: 5px;
}

/* Pour les écrans de iPhone SE */
@media screen and (max-width: 375px) {
  ion-col[size="4"] {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 5px;
  }

  ion-col[size="6"] {
    flex: 0 0 100%;
    max-width: 100%;
  }

  ion-chip {
    margin-left: 0;
    margin-bottom: 1em;
    justify-content: center;
  }

  .transactions-section {
    max-height: 200px;
  }

  ion-item {
    padding: 5px;
  }

  ion-label h3 {
    font-size: 0.8rem;
  }

  ion-label p {
    font-size: 0.5rem;
  }
}



.transaction-list {
  -webkit-overflow-scrolling: touch;
  max-height: 150px;
}