

<ion-content class="ion-padding" modal-container>
  
  <form #transactionForm="ngForm" (ngSubmit)="saveTransaction()" class="modal-form">
    <p color="success">
      {{ isEditMode ? 'Edit Transaction' : 'Add Transaction' }}</p>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-label position="stacked">Transaction Type:</ion-label>
        </ion-col>
        
        <ion-col size="8">
          <ion-select 
            [(ngModel)]="transaction.type" 
            name="type" 
            required 
            #typeField="ngModel" 
            placeholder="Select Type">
            <ion-select-option value="income">Income</ion-select-option>
            <ion-select-option value="expense">Expense</ion-select-option>
            <ion-select-option value="loan">Loan</ion-select-option>
            <ion-select-option value="credit">Credit</ion-select-option>
            <ion-select-option value="savings">Savings</ion-select-option>
          </ion-select>
          <div *ngIf="typeField.invalid && typeField.touched" class="error-message">
            <ion-text color="danger">Transaction type is required.</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-label position="stacked">Label:</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-input 
            [(ngModel)]="transaction.label" 
            name="label" 
            type="text" 
            required 
            minlength="3" 
            #labelField="ngModel" 
            placeholder="Enter a label"></ion-input>
          <div *ngIf="labelField.invalid && labelField.touched" class="error-message">
            <ion-text color="danger">Label is required and must be at least 3 characters.</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-label position="stacked">Amount:</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-input 
            type="number" 
            [(ngModel)]="transaction.amount" 
            name="amount" 
            required 
            min="100" 
            #amountField="ngModel" 
            placeholder="Enter amount"></ion-input>
          <div *ngIf="amountField.invalid && amountField.touched" class="error-message">
            <ion-text color="danger">Amount is required and must be greater than 100.</ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="transaction.type === 'loan' || transaction.type === 'credit'">
        <ion-col size="4">
          <ion-label position="stacked">Contact</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-input
            [(ngModel)]="transaction.contact"
            name="contact"
            type="tel"
            required
            pattern="^6[5-9][0-9]{7}$"
            #contactField="ngModel"
            maxlength="9"
            placeholder="Enter contact "
          ></ion-input>
          <div *ngIf="contactField.invalid && contactField.touched" class="error-message">
            <ion-text color="danger" *ngIf="contactField.errors?.['required']">
              Contact is required.
            </ion-text>
            <ion-text color="danger" *ngIf="contactField.errors?.['pattern']">
              Contact must start with 6, followed by 5-9, and then 7 more digits.
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        
          <ion-button color="success" expand="block" type="submit" [disabled]="transactionForm.invalid">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            {{ isEditMode ? 'Update' : 'Save' }} Transaction
          </ion-button>
          <ion-button *ngIf="isEditMode" expand="block" color="danger" (click)="deleteTransaction()">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Delete Transaction
          </ion-button>
        
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
