<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditMode ? 'Edit Transaction' : 'Add Transaction' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #transactionForm="ngForm" (ngSubmit)="saveTransaction()">
    <ion-item>
      <ion-label>Type</ion-label>
      
        <ion-select [(ngModel)]="transaction.type" name="type" required #typeField="ngModel">
        <ion-select-option value="income">Income</ion-select-option>
        <ion-select-option value="expense">Expense</ion-select-option>
        <ion-select-option value="loan">Loan</ion-select-option>
        <ion-select-option value="credit">Credit</ion-select-option>
        <ion-select-option value="savings">Savings</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="typeField.invalid && typeField.touched" class="error-message">
      Transaction type is required.
    </div>

    <ion-item>
      <ion-label>Label</ion-label>
      <ion-input [(ngModel)]="transaction.label" name="label" type="text" required minlength="3" #labelField="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="labelField.invalid && labelField.touched" class="error-message">
      Label is required and must be at least 3 characters.
    </div>

    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-input type="number" [(ngModel)]="transaction.amount" name="amount"required min="100" #amountField="ngModel"></ion-input>
    </ion-item>
    <div *ngIf="amountField.invalid && amountField.touched" class="error-message">
      Amount is required and must be greater than 100.
    </div>
    
    <ion-item *ngIf="transaction.type === 'loan' || transaction.type === 'credit'">
      <ion-label>Contact</ion-label>
      <ion-input [(ngModel)]="transaction.contact" name="contact"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="transactionForm.invalid">Save Transaction
      {{ isEditMode ? 'Update' : 'Save' }}
    </ion-button>
    <ion-button *ngIf="isEditMode" expand="block" color="danger" (click)="deleteTransaction()">
      Delete
    </ion-button>
  </form>
</ion-content>
