.custom-card {
    margin-bottom: 2rem;
    margin-right: 1rem;
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    opacity: 0.6;
    font-weight: 500;
    margin: 0;
  }
  
  .count {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0 0;
  }
  
  .icon-container {
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-primary);
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--ion-color-medium);
    margin: 1rem 0;
  }
  
  .description {
    font-size: 1rem;
    opacity: 0.7;
    margin: 0;
  }
  
  .percentage {
    color: var(--ion-color-success);
    font-weight: 600;
  }
  