<!-- <ion-card class="custom-card">
  <ion-card-content>
    <div class="header-container">
      <div>
        <h3 class="title">{{ title }}</h3>
        <p class="count">{{ count }}</p>
      </div>
      <div class="icon-container" [ngClass]="col">
        <ion-icon name="{{ icon }}" color="white"></ion-icon>
      </div>
    </div>
    <div class="divider"></div>
    <p class="description">
      <span class="percentage">+{{ percentage }}%</span> {{ description }}
    </p>
  </ion-card-content>
</ion-card> -->
